.hero{
  width:100%;
  display: flex;
  /* flex-direction: row; */
  /* gap:50px; */
}

.hero-left{
  background-color: rgb(226, 19, 19);
  align-items: center;
  justify-content: center;
  text-align: center;
  width:100%
}
.hero-right{

  width: 100%;

  background-color: green;

}


@media(max-width: 989px){
  .hero-left{

    background-color: gold;
  
  }
}

@media(min-width:768px){

  .hero-right{
    background-color: black;
  }

}

